body {
  font-family: 'Archivo', sans-serif;
}
.navbar {
  box-shadow: 0 3px 4px 0
    rgba(0, 0, 0, 0.5);
  font-family: 'Roboto';
  height: 110px;
 }
.navbar-brand {
  color: #E37222;
  font-variant: small-caps;
  font-size: 26px;
}
.navbar-start {
  flex-direction: column;
  align-items: center;
}
.navbar-item p {
  color: #E37222;
}
.navbar-item.has-text-tangerine {
  color: #E37222;
  font-variant: small-caps;
}
.navbar-burger.burger {
  color: #E37222;
  min-height: 112px;
}
.tabs a {
  color: #E37222;
  font-variant: small-caps;
  font-size: 22px;
}
.navbar-item.navbar-item-padding-top {
  padding-top: 0px;
}
.underlined:after {
    content: "";
    display: block;
    width: 50%;
    text-align: center;
    margin: 0.3em auto 0;
    border-bottom: #E37222 solid;
}
.tabs a.has-text-tangerine {
  color: #E37222;
}
.tabs li.is-active a.navbar-item {
  color: #E37222;
  border-bottom: 2px solid #E37222;
}
#intro {
  background-color: #07889B;
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}
.underlined-title1:after {
    content: "";
    display: block;
    width: 20%;
    text-align: center;
    margin: 0.1em auto 0;
    border-bottom: #E37222 solid;
}
p {
  font-family: 'Roboto', sans-serif;
}
.font-size-subtitle {
  font-size: 20px;
  color: #ffffff;
}
.text-intro-padding {
  padding-top: 24px;
}
.img-intro {
  opacity: 0.8;
}
.column h2 {
  color: #431c5d;
  font-size: 22px;
  font-weight: 500;
}
.text-top-banner {
  font-size: 18px;
  color: #ffffff;
}
.skills-column-padding {
  padding: 12px;
}
.is-large {
  font-size: 2rem;
}
.icon {
  padding: 18px;
}
.icon-color {
  color: #ffffff;
}
h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}
.title {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #431c5d;
  padding-bottom: 24px;
}
.title-expertise {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #431c5d;
  padding-bottom: 24px;
}
.title-contact {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #431c5d;
  padding: 24px;
}
.title-portfolio {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  padding: 24px;
}
.underlined-title-expertise:after {
    content: "";
    display: block;
    width: 20%;
    text-align: center;
    margin: 0.1em auto 0;
    border-bottom: #E37222 solid;
}
.is-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(67, 28, 93, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}
.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
.has-padding {
  padding-bottom: 40px;
}
.u-center-content {
  justify-content: center;
}
.card-image {
  padding-top: 24px;
}
.image .img-expertise {
  width: 125px;
  height: 125px;
  margin-top: 18px;
}
.img-circle {
  border: 0.4px solid #d3d3d3;
  border-radius: 50%;
}
#portfolio {
  background-color: #07889B;
  padding-bottom: 36px;
}
.underlined-title-small:after {
    content: "";
    display: block;
    width: 10%;
    text-align: center;
    margin: 0.1em auto 0;
    border-bottom: #E37222 solid;
}
.subtitle-expertise {
  color: #E37222;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.125;
  font-variant: small-caps;
}
#contact p {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 25px;
}
.field {
  border: 1px solid #431c5d;
  border-radius: 6px;
}
.button.button-background-color {
  text-align: center;
  background-color: #431c5d;
}
.card-title {
  margin: 0px;
}
.hero-footer {
  background-color: #07889B;
  padding-top: 30px;
}
.is-round {
  border-radius: 50%;
  border: 1px solid #431c5d;
}
.column-expertise-bottom {
  margin-bottom: 4rem;
}
.hero-footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
}
.card-image {
  padding: 0px;
}
.card-portfolio {
  margin: 0px;
  width: 100%;
}
.column.center-image {
  display: flex;
  justify-content: center;
}
.image.is-2by1.img-portfolio {
  width: 100%;
}
figcaption {
  color: #431c5d;
  margin-top: 5px;
  font-style: italic;
  font-size: smaller;
  font-family: 'Roboto', sans-serif;
}
.is-red {
  background-color: red;
}
.is-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
}
